@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.text-container {
  overflow-wrap: break-word;
}

.title {
  font-family: "Coldiac Free", sans-serif;
}